# ch2-note4-tuple.ipynb by PB01A

# "튜플: tuple 이란?"

- 리스트는 [ ]으로 둘러싸지만 튜플은 ( )으로 둘러싼다.
- 리스트는 그 값의 생성, 삭제, 수정이 가능하지만 튜플은 그 값을 바꿀 수 없다.

In [2]:
even = (2, 4, 6, 8)

-  여러 가지 튜플

In [4]:
t1 = ()
t2 = (1,)
t3 = (1, 2, 3)
t4 = 1, 2, 3
t5 = ("a", "b", ("ab", "cd"))

- t2 = (1,)처럼 단지 1개의 요소만을 가질 때는 요소 뒤에
- 콤마(,)를 반드시 붙여야 한다는 것과
- t4 = 1, 2, 3처럼 괄호( )를 생략해도 무방하다.
- 튜플 요솟값을 삭제하려 할 때 튜플은 불변형

In [5]:
t1 = (1, 2, "a", "b")
del t1[0] #삭제 되지 않는 불변형

TypeError: 'tuple' object doesn't support item deletion

 - 튜플 요솟값을 변경하려 할 때

In [6]:
t1[0] = "c" #변경안되는 불변형

TypeError: 'tuple' object does not support item assignment

# "튜플: 사용방법"

### 인덱싱하기

In [7]:
t1 = (1, 2, "a", "b")
t1[0]

1

In [8]:
t1[-1]

'b'

### 슬라이싱하기

In [9]:
t1 = (1, 2, "a", "b")
t1[1:]

(2, 'a', 'b')

In [10]:
t1[2:-1]

('a',)

In [11]:
t1[2:]

('a', 'b')

### 튜플 더하기

In [12]:
t1 = (1, 2, "a", "b")
t2 = (3, 4)
t1 + t2

(1, 2, 'a', 'b', 3, 4)

###  튜플 곱하기

In [20]:
t2 = (3, 4)
id(t2) #주소같다

2931626606784

In [21]:
t2 * 3
id(t2) #주소 같다

2931626606784

In [22]:
t2 = t2 * 3
id(t2) #주소 다르다

2931633623968

###  튜플 길이 구하기

In [23]:
t1 = (1, 2, "a", "b")
len(t1)

4