<a href="https://colab.research.google.com/github/kkdw428/PB01A/blob/main/ch8/ch8_exercises_PB01A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ch8_exercises.ipynb

Q1. 문자열 바꾸기
> 다음과 같은 문자열이 있다.

```
a:b:c:d
```

> 문자열의 split와 join 함수를 사용하여 위 문자열을 다음과 같이 고치시오.

```
a#b#c#d
```

In [ ]:
# [Q1] Code-1 
a= "a:b:c:d"
b=a.split(":") #: 을 기준으로 나눔
b
c="#".join(b)   # #을 기준으로 합친다
c

'a#b#c#d'

In [ ]:
# [Q1] Code-2
a = "a:b:c:d"  
b = a.replace(":", "#")    #replace 함수로 : 를 #으로 바꿈
b

'a#b#c#d'

## Q2. 딕셔너리 값 추출하기
> 다음은 딕셔너리의 a에서 'C'라는 key에 해당하는 value를 출력하는 프로그램이다.
```
>>> a = {'A':90, 'B':80}
>>> a['C']
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
KeyError: 'C'
```
>> a 딕셔너리에는 'C'라는 key가 없으므로 위와 같은 오류가 발생한다.  
>>'C'에 해당하는 key 값이 없을 경우 오류 대신 70을 얻을 수 있도록 수정하시오.

In [ ]:
# [Q2] Code-1
a = {'A':90, 'B':80}
a.get('C', 70)   # a 딕셔너리에 c가 없을때 70이 출력

70

In [ ]:
# [Q2] Code-2
a = {'A':90, 'B':80}
a['C'] = 70          # a 딕셔너리에 'C':70 추가하고 value 값 출력
a['C']

70

## Q3. 리스트의 더하기와 extend 함수
> 다음과 같은 리스트 a가 있다.
```
a = [1, 2, 3]
```
> 리스트 a에 [4, 5]를 + 기호를 사용하여 더한 결과는 다음과 같다.
```
>>> a = [1, 2, 3]
>>> a = a + [4,5]
>>> a
[1, 2, 3, 4, 5]
```
> 리스트 a에 [4,5]를 extend를 사용하여 더한 결과는 다음과 같다.
```
>>> a = [1, 2, 3]
>>> a.extend([4, 5])
>>> a
[1, 2, 3, 4, 5]
```

> ### + 기호를 사용하여 더한 것과 extend한 것의 차이점이 있을까? 있다면 그 차이점을 설명하시오.

In [ ]:
# [Q3] Explain (코드와 주석으로 설명하시오)
a = [1, 2, 3] 
print(id(a))   # 리스트 a 의 주소는 140579724633264 이다

a = [1, 2, 3] 
a = a + [4,5]
print(id(a))   # 리스트 a 에 [4,5] 를 +기호를 사용해서 더하면 주소가 140579724632624 이렇게 변하게 된다 즉 두개의 리스트가 더해져서 새로운 리스트가 반환된 것이다

140579724633264
140579724632624

In [ ]:
a=[1, 2, 3]
print(id(a))  # 리스트 a의 주소는 140579724825136 이다  

a.extend([4, 5])
print(id(a)) # 리스트 a 에 extend 를 사용해서 [4,5] 를 더하게 되면 주소는 140579724825136 으로 더하기 전과 동일하게 유지되는 차이점이 있다

140579724825136
140579724825136

## Q4. 리스트 총합 구하기
> 다음은 A학급 학생의 점수를 나타내는 리스트이다. 다음 리스트에서 50점 이상 점수의 총합을 구하시오.
```
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
```

In [ ]:
# [Q4] Code-1
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
result = 0
for i in A: 
  if i >= 50:
    result += i

print(result)

481

In [ ]:
# [Q4] Code-2
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
result = 0
while A:                # A 리스트에 값이 존재할동안 무한반복
    num = A.pop()      # A리스트의 가장 마지막 항목을 하나씩 뽑아냄
    if num >= 50:      # 50점 이상의 점수만 더함
        result += num
result

481

## Q5. 피보나치 함수
> 첫 번째 항의 값이 0이고 두 번째 항의 값이 1일 때, 이후에 이어지는 항은 이전의 두 항을 더한 값으로 이루어지는 수열을 피보나치 수열이라고 한다.
```
0, 1, 1, 2, 3, 5, 8, 13, 21, ...
```
> 입력을 정수 n으로 받았을 때, n 이하까지의 피보나치 수열을 출력하는 함수를 작성해 보자.

In [ ]:
# [Q5] Code-1
b=0
a = int(input("n번째 정수를 입력하세요.:"))
def fibo(num):
    if num == 0: return 0             # num이 0일때 0을 리턴
    if num == 1: return 1             # num이 1일때 1을 리턴
    return fibo(num-2) + fibo(num-1)  # num이 2이상일 경우 fibo(num-2)과 fibo(num-1)을 반환하여 더함

for i in range(a):
    print(fibo(i), end = " ")

n번째 숫자만큼의 입력하세요.:5
0 1 1 2 3

In [ ]:
# [Q5] Code-2
num = int(input("피보나치 수열의 최댓값을 입력하세요.:"))
result = 0   # 출력되는 결과
two = 1      # 두번째 숫자

if num > 0:  # 입력받은 값이 0보면 클 경우
 while result <= num:                   # result의 값이 num과 같아 질때 까지 무한반복
    print(result ,end = " ")            # 처음엔 0
    one = result                        # 처음에 0 
    result = two                        # result의 값을 while문이 돌아가기전에 교체 
    two = one + two                     # two에 첫번째 숫자와 두번째 숫자를 더한 값을 대입

피보나치 수열의 최댓값을 입력하세요.:15
0 1 1 2 3 5 8 13

## Q6. 숫자의 총합 구하기
> 사용자로부터 다음과 같은 숫자를 입력받아 입력받은 숫자의 총합을 구하는 프로그램을 작성하시오. (단 숫자는 콤마로 구분하여 입력한다.)

```
65,45,2,3,45,8
```

In [ ]:
# [Q6] Code-1
a= input("숫자를 입력하세요: ")
numbers = a.split(",")
total = 0
for n in numbers:
    total += int(n)
print(total)

숫자를 입력하세요: 1,5,3
9

In [ ]:
# [Q6] Code-2
numbers = map(int, input("숫자를 입력하세요: ").split(",")) 
total = sum(numbers) 
print(total)

숫자를 입력하세요: 1,3,5
9

## Q7. 한 줄 구구단
> 사용자로부터 2~9의 숫자 중 하나를 입력받아 해당 숫자의 구구단을 한 줄로 출력하는 프로그램을 작성하시오.

> 실행 예)
```
구구단을 출력할 숫자를 입력하세요(2~9): 2
2 4 6 8 10 12 14 16 18
```

In [ ]:
# [Q7] Code-1
num = input("몇단을 출력 하시겠습니까?:")
number = int(num)       # 입력 문자열을 숫자로 변환
for i in range(1, 10):
    print(i*number, end= ' ')

몇단을 출력 하시겠습니까?:5
5 10 15 20 25 30 35 40 45

In [ ]:
# [Q7] Code-2

num= input("몇단을 출력 하시겠습니까?")
gugu=int(num)     #input 받는 수를 int씌워서 숫자로 변경

def dan(a):   #구구단 함수생성
  if 1<a<10:            
    for n in range(1,10):     
      print(a*n ,end=' ')
  else:
    print("다시 입력해주세요")

dan(gugu)

몇단을 출력 하시겠습니까?3
3 6 9 12 15 18 21 24 27

In [ ]:
# [Q7] Code-3
A = input("몇단을 출력 하시겠습니까?")
number = int(A)
i=1

while(i<10):
  print(i*number,end=' ')
  i = i + 1

몇단을 출력 하시겠습니까?3
3 6 9 12 15 18 21 24 27

## Q8. 역순 저장
> 다음과 같은 내용의 파일 abc.txt가 있다.
```
AAA
BBB
CCC
DDD
EEE
```
> 이 파일의 내용을 다음과 같이 역순으로 바꾸어 저장하시오.
```
EEE
DDD
CCC
BBB
AAA
```

In [ ]:
# [Q8] Code-1
f = open('abc.txt', 'r')
lines = f.readlines()    # 모든 라인을 읽음
f.close()

lines.reverse()          # 읽은 라인을 역순으로 정렬

f = open('abc.txt', 'w')
for line in lines:
    line = line.strip()  # 포함되어 있는 줄 바꿈 문자 제거
    f.write(line)
    f.write('\n')        # 줄 바꿈 문자 삽입
f.close()

In [ ]:
f=open('abc.txt','r')
AAA = f.read()
print(AAA)
f.close()

EEE
DDD
CCC
BBB
AAA

In [ ]:
# [Q8] Code-2
f = open('abc.txt','r')    
alp = f.readlines()       
f.close()

for alp in reversed(open("abc.txt").readlines()):   
    print(alp.strip())

EEE
DDD
CCC
BBB
AAA

## Q9. 평균값 구하기
> 다음과 같이 총 10줄로 이루어진 sample.txt 파일이 있다. sample.txt 파일의 숫자 값을 모두 읽어 총합과 평균 값을 구한 후 평균 값을 result.txt 파일에 쓰는 프로그램을 작성하시오.
```
70
60
55
75
95
90
80
80
85
100
```

In [ ]:
# [Q9] Code-1
f = open('sample.txt', 'w')    
f.write('70\n60\n55\n75\n95\n90\n80\n80\n85\n100')      
f.close()       

f = open("sample.txt",'r')
lines = f.readlines( )  # sample.txt를 줄 단위로 모두 읽음
f.close( )

total = 0
for line in lines:
    score = int(line)  # 줄에 적힌 점수를 숫자형으로 변환
    total += score
average = total / len(lines)

f = open("result.txt", "w")  #average가 들어간 result.txt 새로 만듬
f.write(str(average))
f.close()

f = open("result.txt", "r")
line = f.readline()
print(line)
f.close()

79.0

In [ ]:
# [Q9] Code-2
f = open('sample.txt', 'w')    
f.write('70\n60\n55\n75\n95\n90\n80\n80\n85\n100')      
f.close() 

f = open("sample.txt", 'r')
score = f.readlines() # 읽어들여서 score에 넣음
score = list(map(int, score)) #전부 정수형으로 바꾸기
total = 0

for i in score: #합계
	total = total + i
average = total / len(score)

f = open("result2.txt", "w")  #average가 들어간 result.txt 새로 만듬
f.write(str(average))
f.close()

## Q10. 사칙연산 계산기
> 다음과 같이 동작하는 클래스 Calculator를 작성하시오.
```
>>> cal1 = Calculator([1,2,3,4,5])
>>> cal1.sum() # 합계
15
>>> cal1.avg() # 평균
3.0
>>> cal2 = Calculator([6,7,8,9,10])
>>> cal2.sum() # 합계
40
>>> cal2.avg() # 평균
8.0
```

In [ ]:
# [Q10] Code-1
class Calculator:
    def __init__(self, numberList): 
        self.numberList = numberList

    def sum(self): 
        result = 0
        for num in self.numberList: 
            result += num
        return result

    def avg(self):
        total = self.sum()
        return total / len(self.numberList)

cal1 = Calculator([1,2,3,4,5]) 
print (cal1.sum())
print (cal1.avg())

cal2 = Calculator([6,7,8,9,10]) 
print (cal2.sum())
print (cal2.avg())

15
3.0
40
8.0

In [ ]:
# [Q10] Code-2
class Calculator:
    def __init__ (self, number): 
        self.number = number
        
    def sum(self): 
        result = 0
        for num in self.number: 
            result += num
        return result

class CCalculator(Calculator):   #클래스 상속
    def avg(self):   
        total = self.sum()
        return total / len(self.number)

cal1 = CCalculator([1,2,3,4,5]) 
print (cal1.sum())
print (cal1.avg())

cal2 = CCalculator([6,7,8,9,10]) 
print (cal2.sum())
print (cal2.avg())

15
3.0
40
8.0



---

## Q11. 모듈 사용 방법
> ./doit 디렉터리에 mymod.py 파이썬 모듈이 있다고 가정해 보자. 명령 프롬프트 창에서 파이썬 셸을 열어 이 모듈을 import해서 사용할 수 있는 방법을 모두 기술하시오. (즉 다음과 같이 import mymod를 수행할 때 오류가 없어야 한다.)
```
>>> import mymod
>>>
```

In [ ]:
!mkdir doit
# 실행 후 새로 고침!
# mymod.py 를 업로드한다.

In [ ]:
!mv mymod.py ./doit
# 실행 후 새로 고침!

In [ ]:
# [Q11] Code-2
import sys   
sys.path.append("/content/doit")    #/content/doit 경로를 추가해서 mymod를 사용
import mymod

In [ ]:
from doit import mymod # doit 에서 mymod를 가져와서 바로 사용

In [ ]:
from doit import * #doit 에서 모든 함수를 다가져와서 사용

In [ ]:
import os
os.chdir("/content/doit")   #content/doit 으로 위치변경해서 mymod를 사용
import mymod

## Q12. 오류와 예외 처리
> 다음 코드의 실행 결과를 예측하고 그 이유에 대해 설명하시오.

```
result = 0

try:
    [1, 2, 3][3]
    "a"+1
    4 / 0
except TypeError:
    result += 1
except ZeroDivisionError:
    result += 2
except IndexError:
    result += 3
finally:
    result += 4

print(result)
```

In [ ]:
# [Q12] Explain (코드와 주석으로 설명하시오)
result = 0   #초기값을 0으로 설정
 
try:
    [1, 2, 3][3]          # IndexError  에러 발생       |    3개의 에러가 발생했지만 젤처음에 있는 에러 출력
    "a"+1                 # TypeError   에러 발생       |
    4 / 0                 # ZeroDivisionError 에러발생  |
except TypeError:
    result += 1
except ZeroDivisionError:
    result += 2
except IndexError:
    result += 3           # result에 3이 추가
finally:
    result += 4           # finally문은 try문 실행중에 에러가 떠도 항상 수행되기 때문에 4 추가 
 
print(result)             #  3+4 =7 출력

7

## Q13. DashInsert 함수
> DashInsert 함수는 숫자로 구성된 문자열을 입력받은 뒤 문자열 안에서 홀수가 연속되면 두 수 사이에 - 를 추가하고, 짝수가 연속되면 * 를 추가하는 기능을 갖고 있다. DashInsert 함수를 완성하시오.
```
입력 예시: 4546793
출력 예시: 454*67-9-3
```

In [ ]:
# [Q13] Code-1
data=input("숫자 입력")
numbers = list(map(int, data))   # 입력받은걸 전부 int 씌우고 list로 변경
result = []

for i, num in enumerate(numbers):
    result.append(str(num))                 # result 에 숫자 추가
    if i < len(numbers)-1:                  
        start = num % 2 == 1                # 첫번째 수가 홀수
        second = numbers[i+1] % 2 == 1      # 두번째 수가 홀수
        if start and second:                # 둘다 홀수이면
            result.append("-")              # - 를 result에 추가
        elif not start and not second:      # 첫째 둘째 둘다 짝수이면
            result.append("*")              # result에 * 추가

print("".join(result))

숫자 입력135744
1-3-5-74*4

In [ ]:
# [Q13] Code-2
num = input('숫자: ')
result = ''
for i in range(len(num)):
    result += num[i]
    if i == len(num)-1:    
        break

    if int(num[i])%2== 0 and int(num[i+1])%2== 0:   #처음 숫자가 짝수이고 그다음 숫자도 짝수이면 *을 출력
        result += '*'
    elif int(num[i])%2 != 0 and int(num[i+1])%2 != 0:  #처음 숫자가 홀수이고 그다음 숫자도 홀수이면 -를 출력
        result += '-'

print(result)

숫자: 235461891
23-54*6189-1

## Q14. 문자열 압축하기
> 문자열을 입력받아 같은 문자가 연속적으로 반복되는 경우에 그 반복 횟수를 표시해 문자열을 압축하여 표시하시오.
```
입력 예시: aaabbcccccca
출력 예시: a3b2c6a1
```

In [ ]:
# [Q14] Code-1
alp=input("문자를 입력하세요")

result = alp[0]  # 첫번째 값을 결과에 넣는다
count  = 0   

for st in alp:
    if st == result[-1]:  
        count += 1
    else:
        result += str(count) + st
        count = 1
result += str(count)

print(result)

문자를 입력하세요aabbcc
a2b2c2

In [ ]:
# [Q14] Code-2
i=input("압축할 문자열을 입력하세요: ")
st=[i[0]]
c=1
for n in range(len(i)-1):
    if i[n]==i[n+1]:    # n과 그다음 문자가 같으면 카운트 1더하기
        c+=1
    else:                     # 아니면
        st.append(str(c))     #카운트를 더하고
        st.append(i[n+1])     #아닌 숫자를 더하고
        c=1                   #카운트는 1로
st.append(str(c))
print("".join(st))

압축할 문자열을 입력하세요: aabbcc
a2b2c2

## Q15. Duplicate Numbers
> 0 ~ 9의 문자로 된 숫자를 입력받았을 때, 이 입력값이 0 ~ 9의 모든 숫자를 각각 한 번씩만 사용한 것인지 확인하는 함수를 작성하시오.
```
입력 예시: 0123456789 01234 01234567890 6789012345 012322456789
출력 예시: true false false true false
```

In [ ]:
# [Q15] Code-1
a = input("0~9사이 숫자입력 : ")
print('true' if len(a) == len(set(a)) == 10  else 'false')  #set은 중복이 허용되지 않기때문에 
                                                            #만약 같다면 0~9까지를 모두 사용한 것이다

0~9사이 숫자입력 : 1234567890
true

In [ ]:
# [Q15] Code-2
def check(num):
    if len(num) == len(set(num)) == 10:
        return True
    return False


num = ['0123456789','01234','01234567890','6789012345','012322456789']

for i in num:
    print(check(i),end=' ')

True False False True False

In [ ]:
# [Q15] Code-3
def chkDupNum(s):
    result = []
    for num in s:
        if num not in result:   #num 값과 result 가 같지않으면
            result.append(num)  #추가
        else:
            return False       
    return len(result) == 10    # result의 갯수는 총 10

print(chkDupNum("0123456789"))      
print(chkDupNum("01234"))           
print(chkDupNum("01234567890"))     
print(chkDupNum("6789012345"))      
print(chkDupNum("012322456789"))

True
False
False
True
False

## Q16. 모스 부호 해독
> 문자열 형식으로 입력받은 모스 부호(dot:. dash:-)를 해독하여 영어 문장으로 출력하는 프로그램을 작성하시오.

- 글자와 글자 사이는 공백 1개, 단어와 단어 사이는 공백 2개로 구분한다.
- 예를 들어 다음 모스 부호는 "HE SLEEPS EARLY"로 해석해야 한다.
```
.... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--
```
> 모스부호 규칙 표
```
문자 부호	문자   부호
A	 .-	    N	    -.
B	 -...	O	    ---
C	 -.-.	P	    .--.
D	 -..	Q	    --.-
E	 .	    R	    .-.
F	 ..-.	S	    ...
G	 --.	T	    -
H	 ....	U	    ..-
I	 ..	    V	    ...-
J	 .---	W	    .--
K	 -.-	X	    -..-
L	 .-..	Y	    -.--
M	 --	    Z	    --..
```

In [ ]:
# [Q16] Code-1
dic = {    
    '.-':'A','-...':'B','-.-.':'C','-..':'D','.':'E','..-.':'F',
    '--.':'G','....':'H','..':'I','.---':'J','-.-':'K','.-..':'L',
    '--':'M','-.':'N','---':'O','.--.':'P','--.-':'Q','.-.':'R',
    '...':'S','-':'T','..-':'U','...-':'V','.--':'W','-..-':'X',
    '-.--':'Y','--..':'Z'
}

def morse(src): 
    result = []     
    for word in src.split("  "):	# 공백2개 기준으로 나누고 =단어
        for char in word.split(" "):    # 공백1개 기준으로 나눈다 = 알파벳
            result.append(dic[char])    # 딕셔너리 내의 chr 찾아서  추가하자
        result.append(" ")		# 단어와 단어사이 공백 하나 추가 
    return "".join(result)		# 리스트 형태를 문자열 형태로 합쳐서 출력

print(morse('.... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--'))

HE SLEEPS EARLY

In [ ]:
# [Q16] Code-2
dic = {  '.-':'A','-...':'B','-.-.':'C','-..':'D','.':'E','..-.':'F',
    '--.':'G','....':'H','..':'I','.---':'J','-.-':'K','.-..':'L',
    '--':'M','-.':'N','---':'O','.--.':'P','--.-':'Q','.-.':'R',
    '...':'S','-':'T','..-':'U','...-':'V','.--':'W','-..-':'X',
    '-.--':'Y','--..':'Z'

}

m = '.... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--'
result = ''

word = m.split('  ')              #공백 두개 단위로 나눔
for i in range(len(word)):  #모스부호 개수만큼 반복
    alpabet = word[i].split()     #빈칸 하나 단위로 나눔
    for alpa in alpabet:          
        result += dic[alpa]    #빈칸 하나 단위로 나눈걸 dic에서 찾아서 결과로 저장
    result += ' '              # 결과끼리 공백두고 저장
print (result)

HE SLEEPS EARLY

In [ ]:
# [Q16] Code-3
dic = {
    '.-':'A','-...':'B','-.-.':'C','-..':'D','.':'E','..-.':'F',
    '--.':'G','....':'H','..':'I','.---':'J','-.-':'K','.-..':'L',
    '--':'M','-.':'N','---':'O','.--.':'P','--.-':'Q','.-.':'R',
    '...':'S','-':'T','..-':'U','...-':'V','.--':'W','-..-':'X',
    '-.--':'Y','--..':'Z', '':' '
}
morse= ".... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--"
word=morse.split(" ")  # morse를 공백으로 나눈다
for i in word:         
    print(dic[i],end="")  #나눈걸 dic에서 찾아서 출력

HE SLEEPS EARLY



---

# 다음 정규식 문제는 기말고사 후에 도전해 보세요.

## Regular Expression
- import re

## Q17. 기초 메타 문자
> 다음 중 정규식 a[.]{3,}b과 매치되는 문자열은 무엇일까?


```
acccb
a....b
aaab
a.cccb
```

In [ ]:
# [Q17] Code

## Q18. 문자열 검색
> 다음 코드의 결괏값은 무엇일까?

```
>>> import re
>>> p = re.compile("[a-z]+")
>>> m = p.search("5 python")
>>> m.start() + m.end()
```

In [ ]:
# [Q18] Code

## Q19. 그루핑
> 다음과 같은 문자열에서 휴대폰 번호 뒷자리인 숫자 4개를 ####로 바꾸는 프로그램을 정규식을 사용하여 작성하시오.

```
park 010-9999-9988
kim 010-9909-7789
lee 010-8789-7768
```

In [ ]:
# [Q19] Code

## Q20. 전방 탐색
> 다음은 이메일 주소를 나타내는 정규식이다. 이 정규식은 park@naver.com, kim@daum.net, lee@myhome.co.kr 등과 매치된다. 긍정형 전방 탐색 기법을 사용하여 .com, .net이 아닌 이메일 주소는 제외시키는 정규식을 작성하시오.

```
.*[@].*[.].*$
```

In [ ]:
# [Q20] Code

## 코딩 연습 결과를 github에 올리기
> 완성된 ipython 노트북 파일을 각자의 github에 올리시오.

- github 계정 만들기 (계정이 없는 학생)
    1. github에 sign up (Google gmail 계정을 이용해서 만드시오.)
- github에 노트 올리기
    2. github에 각자의 id로 repo를 만드시오. (한번 만들면 계속 재사용)
    3. github repo에 연습결과 노트를 올리시오.
        - 제출노트: ch8_exercises_id.ipynb